<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li>
        <a href="#">CSS</a>
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>

    </ul>

  </nav>
  <img class="logo" src="assets/AA_Times_Logo" alt="App Academy Times">
  <div class="masthead-links">
    <li>
      <button type="button" name="Date">
        <time>Tuesday, October 18, 2016</time></button>
    </li>
    <li>
      <button type="button" name="Paper">
        <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper</a></button>
      </li>

      <li>
        <button type="button" name="Video"><i class="fa fa-video-camera" aria-hidden="true"></i>
          <a href="#">Video</a>
          </button>
        </li>
        <li>
          <button type="button" name="Temp">77°F</button>
        </li>
        <li>
          <button type="button" name="Stock">
            <a href="#">AAO +100%</a></button>
        </li>

  </div>
</div>
